
<%if flash[:errors]%>
    <%flash[:errors].each do |error|%>
    <p style="color: red"><%= error%></p>
    <%end%>
<%end%>

    <div class="container new-post" style="width: 40rem;">
        <%= form_for @trip do |f| %>
        <h2 class=text-center>Create a new Trip!</h2>
        <div class="form-group">
            <%= f.label :title, 'Title' %>
            <%= f.text_field :title, class: 'form-control'%>
        </div>
        <%= f.label :duration%>
        <div class = "form-group">
            <%= f.text_area :duration, class: 'form-control', placeholder: 'Number of days'%>
        </div>
        <%= f.label :cost %>
        <div class="form-group">
            <%= f.text_area :cost, class: 'form-control', placeholder: 'In dollars'%>
        </div>
        <%= f.fields_for :destination, @destination do |d| %>
            <div class="form-group">
                <%= d.label :city, 'City' %>
                <%= d.text_field :city, class: 'form-control'%>
            <div class="form-group">
                <%= d.label :country, 'Country' %>
                <%= d.text_field :country, class: 'form-control'%>
                <%# tags_fields.text_field :name, class: 'form-control', placeholder: 'Your tag!' %>
            </div>
        <% end %><br>
        <%= f.submit 'Submit', class: "btn btn-primary create-btn" %>
        <% end %>
    </div>