<h1>Trips#new</h1>




<%if flash[:errors]%>
    <%flash[:errors].each do |error|%>
    <p style="color: red"><%= error%></p>
    <%end%>
<%end%>


<%= form_for @trip do |f| %>


<p>Trip Details</p>
	<%= f.label :duration %>
	<%= f.text_field :duration%><br><br>
    <%= f.label :cost %>
	<%= f.text_field :cost%><br><br>
    <%= f.label :destination %><br><br>

    <%=f.fields_for :destination, @destination do |d|%>
        <%= d.label :city %>
        <%= d.text_field :city%><br><br>
        <%= d.label :country %>
        <%= d.text_field :country%><br><br>
    <% end %>
	<%= f.submit %>

<% end %>

