
<h1><%=@trip.user.name%> Here are your trips!</h1>


<div class="container">
    <div class="card text-center" style="width: 18rem;">
        <div class="card-header">
            <%= @trip.created_at.to_s.split(" ")[0]%>
        </div>
        <div class="card-body" >
            <h5 class="card-title">Trip <%= @trip.id %></h5>
            <p class="card-text">City: <%=@trip.destination.city%></p>
            <p class="card-text">Country: <%=@trip.destination.country%></p>
            <% if @trip.user == current_user %>
                <div class= "row">
                    <button class = "btn btn-primary mx-auto ">Edit
                        <%= link_to "!!!", edit_trip_path(@trip) %>
                    </button>
                    <button class = "btn btn-danger mx-auto">Delete
                        <%= link_to "!!!", @trip, method: :delete, data: { confirm: "Do you want to delete trip?" } %>
                    </button>
                </div>
            <% end%>
        </div>
        <div class="card-footer text-muted">
            <p>Duration - <%= @trip.duration%></p>
            <p>$<%= @trip.cost%></p>
        </div>
    </div>
</div>




