<% if flash[:my_errors] %>
<% flash[:my_errors].each do |error|%>
<p><%= error %></p>
<% end%>
<% end%>


<%= form_for @user do |f| %>

<%= f.label :username  %>
<br><%= f.text_field :username %>

<br><%= f.label :password %>
<br><%= f.password_field :password %>

<br><%= f.label :password_confirmation %>
<br><%= f.password_field :password_confirmation %>

<br><%= f.label :profile_img_url %>
<br><%= f.text_field :profile_img_url %>

<br><%= f.label :name  %>
<br><%= f.text_field :name%>

<br><%= f.label :email %>
<br><%= f.text_field :email%>

<br><%= f.label :age %>
<br><%= f.number_field :age%>

<br><%= f.label :favorite_destination %>
<br><%= f.collection_select :favorite_destination, Destination.all, :city, :city%>

<br><%=f.submit "Create Profile", data: { confirm: "Are you sure you want to create this profile?" }%>

<%end%>

<p> Already have an account? Go back to <%= link_to "sign-in", "/"%>.</p>
