<h1>All Users</h1>

<% @users.each do |user_instance|%>
<li><%= link_to user_instance.username, user_path(user_instance.id) %>
<% end %>



<p><%= button_to "Create a new profile", new_user_path, method: :get %></p>



<p><%= link_to "See all of the trips", trips_path %></p>
<p><%= link_to "See all of the destinations", destinations_path %></p>
<p><%= link_to "See all of the posts", posts_path %></p>
<p><%= link_to "See all of the comments", comments_path %></p>


