<h1>All Travelers</h1>

<% @users.each do |user_instance|%>
    <% if user_instance != current_user %>
<li><%= link_to user_instance.username, user_path(user_instance.id) %>
<% end%>
<% end %>


<p><%= link_to "See all of the trips", trips_path %></p>
<p><%= link_to "See all of the destinations", destinations_path %></p>
<p><%= link_to "See all of the posts", posts_path %></p>
<p><%= link_to "See all of the comments", comments_path %></p>


