<html>
<head>
<h1 class="card text-center mx-auto mt-3"> <%= @user.name %> </h1>
<div>
<%= image_tag @user.profile_img_url %> 
</div>
</head>
<%= flash[:success] %>

<div class="card text-center mx-auto mt-5">
<h4>Username: <%= @user.username %></h4>
<h4>Email: <%= @user.email %></h4>
<h4>Age: <%= @user.age %></h4>
<h4>Favorite Destination: <%= @user.favorite_destination %></h4>
</div>
<div class="card text-center mx-auto mt-5">
<h4>My Trips</h4>
<% if @user.trips.empty? == false %>
<% @user.trips.each do |trip_instance| %>
<%= link_to trip_instance.title, trip_path(trip_instance.id)%> - <%= trip_instance.destination.city%>, <%= trip_instance.destination.country%> <br>
<% end%>
<% else %>

<p>It looks like this user hasn't gone on any trips yet. :( </p>
<% end%>
<br>
</div>

<div class="card text-center mx-auto mt-5">
<h4> My Posts </h4>
<% if @user.posts.empty? == false %>
<% @user.posts.each do |post_instance| %>
<%= link_to post_instance.title, post_path(post_instance.id) %> from "<%= link_to post_instance.trip.title, post_path(post_instance.trip.id)%>" trip <br>
<%end%>
<%else%>
<p>It looks like this user hasn't posted yet. :( </p>
<% end%>
<br>
</div>

<div class="card text-center mx-auto mt-5">
<h4> My Comments </h4>
<% if @user.comments.empty? == false %>

<% @user.comments.each do |comment_instance| %>
"<%= comment_instance.description %>" attached to post titled <%= link_to comment_instance.post.title, post_path(comment_instance.post.id) %> written by <%= link_to comment_instance.post.user.username, user_path(comment_instance.post.user.id) %>  <br> 
<% end %>

<% else%>
<p>It looks like this user hasn't commented on a post yet. :( </p>
<% end%>
</div>

<% if @user.trips.empty? == true && @user.posts.empty? == true && @user.comments.empty? == true %>
<p class=text-center><b>No trips, comments, or posts? Get off your computer and go on a trip cause you basic AF! </b></p>
<% end%>
</div>

<br>
<div class=text-center>
<% if logged_in? && current_user == @user%>
 <%= button_to "Delete my profile", user_path(@user), method: :delete, data: { confirm: "Are you sure you want to delete your profile?" } %>
</div>
<% end%>
</html>


