
    <%if flash[:destroy]%>
        <p style="color: green"><%= flash[:destroy]%></p>
    <%end%>

<% @posts.each do |post| %>
    <div class="card mx-auto mt-4" style="width: 30rem;">
        <div class="card mt-0" style="width: 30rem;">
            <div class="card-body" style="height: 4.7 rem;">
                <div class= "row justify-content-left mt-0 mb-3">
                    <%= image_tag post.user.profile_img_url, class: "user-image mr-4"%> 
                    <strong><p class="card-text ml-2 mt-6"><%=link_to post.user.username, user_path(post.user)%></p></strong>
                </div>
            </div>
            <%= link_to image_tag(post.image, class: "post-img"), post_path(post)%>
            <div class="card-body text-center">
                <p class="card-text"> <%=post.description%> </p>
                <%post.tags.each do |tag|%>
                    <p class="card-text"> #<%=tag.name%></p>
                <%end%>
            </div>
        </div>
    </div>
<% end %>



