<h1 class="card text-center mx-auto mt-5">Posts</h1>
<%if flash[:destroy]%>
    <p style="color: green"><%= flash[:destroy]%></p>
<%end%>

<div>
    <%@posts.each do |post| %>
    <div class= 'individual-posts'>
        <p>User <strong><%=post.user.name%></strong></p>
        <p>Title <strong><%=link_to(post.title, post_path(post))%></strong></p>
        <p>Description <strong><%=post.description%></strong></p>
        <p>Likes <strong><%=post.likes%></strong></p>
        <p>ID <strong><%=post.id%></strong></p>
        <p>City <strong><%=post.trip.destination.city%></strong></p>
        <p>Country <strong><%=post.trip.destination.country%></strong></p><br><br>
    <div>
    <%end%>
</div>

