<h1>Destination</h1>

<%= image_tag @destination.img_url%> 

<br>
<body>
<p>City: <%= @destination.city%></p>
<br>
<p>Country: <%= @destination.country%></p>
<br>
<p>Population: <%= @destination.population%></p>
<br>
<p>Known for: <%= @destination.known_for%></p>

<div class="alert alert-primary" role="alert">
  A simple primary alert—check it out!
</div>
</body>
<%= link_to "Destinations", destinations_path%>
<br>


