<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "JVC Travel" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Travel" %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  
   <% if logged_in? %>
        <%= link_to "My Profile", user_path(current_user)%>
        <%= link_to "Logout", logout_path, method: :delete, data: { confirm: "Are you sure you want to logout?" } %>
      <% end%>
  
  </head>
  <body>
    <%= yield %>
  </body>
</html>


     

  
